$primaryColor: hsl(172, 67%, 45%)
$backgroundColor: hsl(185, 41%, 84%)
$lightColor: hsl(189, 41%, 97%)
$darkColor: hsl(183, 100%, 15%)
$darkColor2: hsl(186, 14%, 43%)
$darkColor3: hsl(184, 14%, 56%)


body
  width: 100vh
  background-color: $backgroundColor
.footer  
  font-size: 11px 
  text-align: right
  a 
    color: hsl(228, 45%, 44%)

@media screen and (min-width:640px)
  /* réglage à partir de 640px et + : corps un peu plus grand et même typo */
